{% extends 'accounts/main.html' %}

{% block content%}
  <br>
  <div class="container p-0">
    <div class="row"><!-- First row -->

      <div class="col-md">
        <div class="card card-body">
          <h5>Customer</h5>
          <hr>
          <a class="btn btn-outline-primary btn-sm btn-block" href="">Update</a>
          <a class="btn btn-outline-danger btn-sm btn-block" href="">Delete</a>
        </div>
      </div>

      <div class="col-md">
        <div class="card card-body">
          <h5>Contact Information</h5>
          <hr>
          <p class="card-text">Email:</p>
          <p class="card-text">Phone:</p>
        </div>
      </div>

      <div class="col-md">
        <div class="card card-body">
          <h5>Total Orders</h5>
          <hr>
          <h1 style="text-align: center; padding: 10px"></h1>
        </div>
      </div>

    </div> <!-- First row -->
    <br>
    <div class="row"><!-- second row -->
      <div class="col">
        <div class="card card-body">
          <form action="" method="get">
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div><!-- second row -->

    <div class="row"><!-- third row -->
      
    </div><!-- third row -->
  </div>

{% endblock %}

